<h3><Redmine Scrum Cards</h3>
<div class="box tabular">
	<p>
		<label>Tester field name :</label>
		<input type="text" size="20"
			id="settings_occupation_person" 
			value="<%= settings['tester_field_name'] %>"
			name="settings[tester_field_name]" />
	</p>
</div>