<h3><Redmine Scrum Cards</h3>
<div class="box tabular">
	<p>
		<label>Tester field name :</label>
		<input type="text" size="20"
			id="settings_tester_field_name" 
			value="<%= settings['tester_field_name'] %>"
			name="settings[tester_field_name]" />
	</p>
	<p>
		<label>Date format :</label>
		<input type="text" size="20"
			id="settings_date_formatter" 
			value="<%= settings['date_formatter'] %>"
			name="settings[date_formatter]" />
	</p>
</div>